<script setup lang="ts">
import { reactive, watch, nextTick, ref } from "vue";
class Person {
  id: number;
  name: string;
  surname: string;
  gender: string;
  static lastid = 1;
  constructor(name: string, surname: string, gender: string) {
    this.id = Person.lastid++;
    this.name = name;
    this.surname = surname;
    this.gender = gender;
  }
}
const personList = ref<Person[]>([]);
const person = reactive<Person>({ id: -1, name: "", surname: "", gender: "" });
const showFrom = ref(false);
const msg = reactive({ name: "", surname: "", gender: "" });

function checkName(name: string) {
  if (name.trim().length === 0) {
    msg.name = "First name is empty!!!";
    return false;
  }
  msg.name = "";
  return true;
}
const checkSurname = (surname: string) => {
  if (surname.trim().length === 0) {
    msg.surname = "Second name is empty!!!";
    return false;
  }
  msg.surname = "";
  return true;
};
const clearFrom = () => {
  person.gender = "";
  person.name = "";
  person.surname = "";
  person.id = -1;

  nextTick(() => {
    msg.gender = "";
    msg.name = "";
    msg.surname = "";
  });
};
const checkGender = (gender: string) => {
  if (gender.trim().length === 0) {
    msg.gender = "Gender is empty!!!";
    return false;
  }
  msg.gender = "";
  return true;
};
watch(
  () => person.name,
  (name) => {
    checkName(name);
  }
);
watch(
  () => person.surname,
  (surname) => {
    checkSurname(surname);
  }
);
watch(
  () => person.gender,
  (gender) => {
    checkGender(gender);
  }
);
function doSubmit() {
  if (
    checkName(person.name) &&
    checkSurname(person.surname) &&
    checkGender(person.gender)
  ) {
    if (person.id < 0) {
      const P = new Person(person.name, person.surname, person.gender);
      personList.value.push(P);
      console.log(personList.value);
    } else {
      const index = personList.value.findIndex((item) => item.id === person.id);
      personList.value[index].name = person.name;
      personList.value[index].surname = person.surname;
      personList.value[index].gender = person.gender;
    }
    clearFrom();
    showFrom.value = false;
  }
}
const doDelete = (P: Person) => {
  const index = personList.value.findIndex((item) => item.id === P.id);
  personList.value.splice(index, 1);
};
const doEdit = (P: Person) => {
  person.name = P.name;
  person.surname = P.surname;
  person.gender = P.gender;
  person.id = P.id;
  showFrom.value = true;
};
</script>
<template>
  <h2>Person</h2>
  <div v-if="showFrom" class="from">
    <form action="">
      <label for="name">First Name</label>
      <input id="name" type="text" v-model="person.name" autocomplete="off" />
      <span class="error">{{ msg.name }}</span>
      <label for="surname">Second Name</label>
      <input id="surname" type="text" v-model="person.surname" />
      <span class="error">{{ msg.surname }}</span>

      <label for="gender">Gender</label>
      <select id="gender" v-model="person.gender">
        <option value="" hidden selected>Select Gender</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
      <span class="error">{{ msg.gender }}</span>
      <input type="submit" value="submit" @click.prevent="doSubmit" />
    </form>
  </div>
  <div v-if="!showFrom">
    <div style="width: 100%; text-align: right">
      <button style="width: 100px" @click="showFrom = !showFrom">Add</button>
    </div>
    <table id="person">
      <thead>
        <th>ID</th>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Gender</th>
        <th style="width: 250px">Operation</th>
      </thead>
      <tr v-for="(item, index) in personList" :key="index">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.surname }}</td>
        <td>{{ item.gender }}</td>
        <td>
          <button
            style="width: 100px; background-color: grey"
            @click="doEdit(item)"
          >
            Edit
          </button>
          <button
            @click="doDelete(item)"
            style="width: 100px; margin-left: 2em; background-color: red"
          >
            Delete
          </button>
        </td>
      </tr>
      <tr>
        <td
          v-if="personList.length === 0"
          colspan="5"
          style="text-align: center"
        >
          No Data
        </td>
      </tr>
    </table>
  </div>
</template>
<style scoped>
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"],
button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
label {
  color: black;
}

input[type="submit"],
button:hover {
  background-color: #45a049;
}

div.from {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.error {
  color: red;
  font-size: smaller;
  display: block;
}

#person {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#person td,
#person th {
  border: 1px solid #ddd;
  padding: 8px;
}

#person tr {
  background-color: #f2f2f2;
}

#person th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
td {
  color: black;
}
</style>
